docs/touchstone api docs/schemas/executeTestRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://touchstone.aegis.net/api" xmlns="http://touchstone.aegis.net/api" xmlns:tns="http://touchstone.aegis.net/api" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="executeTestRequest" type="executeTestRequest"/>

  <xs:complexType name="executeTestRequest">
    <xs:sequence>
      <xs:element name="testSetup" type="xs:string"/>
      <xs:element name="oauth2AuthzApiRedirected" type="xs:boolean" minOccurs="0"/>
      <xs:element name="destOAuth2Tokens" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="destOAuth2Token" type="destAccessToken" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="destAccessToken">
    <xs:sequence>
      <xs:element name="dest" type="xs:string"/>
      <xs:element name="token" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

